@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Permanent+Marker&display=swap');

body {
    font-family: 'Dancing Script';
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-image: url(fundo.jpg);
    background-attachment: fixed;
}
a {
    color: rgb(30, 104, 142);
}