@charset "UTF-8";

@font-face {
    font-family: 'Pokemon';
    src: url(Pokemon\ Hollow.ttf) format('truetype');
}

/* variaveis por que sim*/
:root {
    --amareloescuro: #EEB132;
    --amareloclaro: #FFE346;
    --azulescuro: #3EA1BA;
    --azulclaro: #73D7E7;
    --laranjaclaro: #FC804D;
    --laranjaescuro: #AF3B38;
    --verdeclaro: #B7EB66;
    --verdeescuro: #88AC3B;
    --borda: #20252D;
    --pokemon: 'Pokemon'
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(242, 233, 216);
}

header {
    background-color: black;
    background-image: url('imagens/iniciais-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    max-width: 1000;
    background-position: center center;
    padding-top: 50px;
}

header > h1 {
    max-width: 700px;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.526);;
    color: white;
}

header > h2 {
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.526);
    margin-top: 400px;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    float: right;
    color: white;
}

#borda {
    height: 15px;
    background-image: linear-gradient(to right, #070302, #141519, #20252D, #1b222a);
}

nav {
    padding: 15px;
    padding-top: 0px;
    background-color: white;
    min-width: 250px;
    max-width: 830px;
    text-align: center;
    margin: auto;
}

nav > a {
    text-decoration: none;
    padding: 13px;
    margin-left: 5px;
    padding-top: 0px;
    font-weight: bold;
    border-radius: 0px 0px 5px 5px;
    transition-duration: 0.2s;
}

nav > a:hover {
    text-decoration: underline;
}

a#pikachu{
    color: var(--amareloescuro);
    background-color: var(--amareloclaro);
}

a#pikachu:hover {
    color: var(--amareloclaro);
    background-color: var(--amareloescuro);
}

a#squirtle {
    color: var(--azulescuro);
    background-color: var(--azulclaro);
}

a#squirtle:hover {
    color: var(--azulclaro);
    background-color: var(--azulescuro);
}

a#charmander {
    color: var(--laranjaescuro);
    background-color: var(--laranjaclaro);
}

a#charmander:hover {
    color: var(--laranjaclaro);
    background-color: var(--laranjaescuro);
}

a#bulbassaur {
    color: var(--verdeescuro);
    background-color: var(--verdeclaro);
}

a#bulbassaur:hover {
    color: var(--verdeclaro);
    background-color: var(--verdeescuro);
}

main {
    margin: auto;
    padding: 30px;
    max-width: 800px;
    min-width: 320px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

article {
    padding: 10px;
}

article#vermelho {
    margin-bottom: 15px;
    border: 3px solid var(--laranjaescuro);
    border-radius: 5px;
}

article#azul {
    margin-bottom: 15px;
    border: 3px solid var(--azulescuro);
    border-radius: 5px;
}

article#verde {
    margin-bottom: 15px;
    border: 3px solid var(--verdeescuro);
    border-radius: 5px;
}

article#amarelo {
    margin-bottom: 15px;
    border: 3px solid var(--amareloescuro);
    border-radius: 5px;
}

.espaço {
    height: 20px;
}

main > article > h1 {
    margin-top: 10px;
    padding-left: 30px;
}

main > h1 {
    text-align: center;
    font-family: var(--pokemon);
}

main p {
    padding-top: 20px;
    text-align: justify;
    text-indent: 15px;
    max-width: 700px;
    margin: auto;
    padding-bottom: 15px;
}

img {
    display: block;
    margin: auto;
    height: 250px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

hr {
    width: 500px;
    margin: auto;
}