body {
    font: 15pt Arial;
    text-align: center;
    background-image: linear-gradient(to right, #000000, #062540);
    color: white;
}
a {
    color: rgb(36, 216, 248);
    text-shadow: rgb(14, 88, 101);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#tutorial {
    margin-top: 20px;
    margin-bottom: 5px;
}

#textotutorial {
    margin-top: 10px;
}

img {
    border-radius: 40px;
}
#alerta {
    font-size: small;
    font-style: italic;
}

#alerta:hover {
    text-decoration: underline;
}

#horas {
    text-align: right;
    height: 0px;
    margin: 0px;
}

h1 {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

#cor1 {
    color:  #7E4EFF;    
}

#cor2 {
    color:  #6D48E3;
}

#cor3 {
    color:  #6442D5;
}

#cor4 {
    color:  #5337C0;
}

#cor5 {
    color:  #412CAB;
}

#cor6 {
    color:  #2F2393;
}

#cor7 {
    color:  #BC23FA;
}

#cor8 {
    color:  #BC25EC;
}

#cor9 {
    color:  #B722FF;
}

#cor10 {
    color:  #BF25E7;
}

#cor11 {
    color:  #C826D1;
}

#cor12 {
    color:  #D226C8;
}

#cor13 {
    color:  #E32CAA;
}

#cor14 {
    color:  #DA29AD;
}

#cor15 {
    color:  #F0278D;
}

#cor16 {
    color:  #F12B82;
}

#cor17 {
    color:  #FB3268;
}

#cor18 {
    color:  #FF3D62;
}

#cor19 {
    color:  #FC4F55;
}

#cor20 {
    color:  #FE6752;
}

#cor21 {
    color:  #FF8160;
}

#cor22 {
    color:  #FB8F61;
}